@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  @apply scroll-smooth
}

:root{
  -t: "25s"
}

body {
  @apply bg-background text-white min-h-[100dvh]
}

form{
    @apply flex gap-[5px] w-full md:w-full flex-col md:flex-row
}

.form-input{
  @apply ring-1 ring-zinc-50/5 bg-transparent bg-gradient-to-l from-white/45 to-white bg-clip-text py-2 px-[10px] outline-none 
}

.dev-form-input{
  @apply w-full border-b border-white/45 bg-black text-white focus:bg-transparent outline-none px-2 py-2
}

form input::placeholder{
  @apply bg-gradient-to-r from-zinc-50/45 to-zinc-50 text-transparent bg-clip-text text-[12.7px] md:text-[14.1px] font-semibold 
}

.form-button{
  @apply border-none cursor-pointer bg-gradient-to-r from-zinc-50/15 to-zinc-50/10 px-3 py-2 flex items-center justify-center text-white/45 hover:text-white transition
  hover:bg-zinc-50/10 outline-none
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet{
  @apply w-[16px] h-[16px] bg-white rounded-[50%] mt-[70px]
}

.swiper-horizontal .swiper-pagination-bullets .swiper-pagination-bullet-active{
  width: 32px;
  background-color: #9fa9ff;
  border-radius: 14px;
  box-shadow: 0 0 20px 0 #4058d6;
  transition: all 0.4s ease-in-out;
}

@layer utilities {
  .layout{
    @apply 2xl:max-w-screen-xl lg:bg-transparent lg:max-w-[1024px] md:max-w-[768px] sm:max-w-[640px] max-w-[1024px] ml-auto mr-auto pl-[20px] pr-[20px] flex flex-col 
  }

  .btn{
    @apply px-4 h-9 cursor-pointer flex items-center justify-center transition-all font-medium
  }
  
  .btn-primary{
    @apply bg-gradient-to-b from-zinc-900 to-zinc-900/10 rounded-xl ring-1 ring-zinc-50/5 bg-zinc-50/5 hover:bg-zinc-50/10 transition-all
  }
  
  .btn-form{
    @apply border-none cursor-pointer bg-gradient-to-r from-zinc-50/15 to-zinc-50/10 px-3 py-2 flex items-center justify-center text-white/55 hover:text-white transition
    hover:bg-zinc-50/10
  }

  
  nav{
    @apply flex justify-between h-[80px] items-center
  }

  .left{
    @apply flex-[3] flex justify-between items-center gap-[20px]
  }

  .logo{
    @apply flex flex-[2] items-center text-[20px]
  }

  .middle{
    @apply flex-[3] items-center flex justify-center
  }

  .right{
    @apply flex-[1] flex justify-end items-center gap-x-5
  }

  .featureBtn{
    @apply flex bg-gradient-to-b from-zinc-900 to-zinc-900/10 px-4 h-9 items-center rounded-xl ring-1 ring-zinc-50/5 bg-zinc-50/5 hover:bg-zinc-50/10 transition-all
  }

  .navbar{
    @apply absolute flex top-full mt-2 right-0 min-w-40 rounded-2xl scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter] md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl
  }

  .mobnav{
    @apply absolute flex flex-col top-full mt-2 right-0 min-w-40 p-2 bg-transparent rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter] md:static md:flex md:items-center md:mt-0 md:opacity-100 md:blur-0 md:visible md:scale-100 backdrop-blur-2xl
  }

  .navbar.active{
    @apply opacity-100 scale-100 blur-0 visible
    }

  .nav-link{
    @apply grid items-center h-9 px-4 text-sm md:text-[13px] lg:text-sm font-medium tracking-wide hover:bg-gradient-to-l hover:from-[#9fa9ff] hover:to-[#4059db] hover:text-transparent hover:bg-clip-text transition-colors rounded-xl
   }

  .devBtn{
    @apply  text-sm md:text-[13px] lg:text-sm font-medium tracking-wide  hover:text-[white] transition-colors px-2 py-2 rounded-md hover:bg-gradient-to-l hover:from-[#9fa9ff] hover:to-[#4059db] hover:text-transparent hover:bg-clip-text
  }

  .menu-close{
    @apply w-[1em] h-[1em] overflow-hidden;
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }

  .mobMenu{
    @apply sm:inline absolute bg-white/5 h-[100vh] w-[50%]
  }

  .slider{
    width: 100%;
    border: 1px solid red;
  }

  .slider .list{
    display: flex;
    width: 100%;
    min-width: calc();
  }

  .slider .list .item{
    width: 100%;
  }

}
